@{ 
    Layout = null;
}
<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hızlı Satış Programı - Bilsoft Yazılım</title>

    <meta name="keywords" content="hizli satis, on muhasebe, hizli satis programi, stok takip, efatura, fatura, etahsilat, efatura programi, yazarkasa pos,
         e-irsaliye, gelir gider takibi, market barkod okuyucu, perakende satis programi, market dokunmatik ekran, coklu ödeme " />
    <meta name="description" content="Ön muhasebe programıyla entegre çalışan Hızlı Satış Programı ile tüm stok, kasa giriş-çıkışlarınızı otomatik takip edin, kayıpları azaltın. Hemen kullanmaya başlayın, kampanyalı fiyatlarımızdan yararlanın!" />
    <meta name="publisher" content="VS 2019" />
    <meta name="author" content="bilsoft" />
    <meta name="copyright" content="(c) 2021 Hızlı Satış Programı. Tüm Hakları Saklıdır. Bilsoft Yazılım" />
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://twitter.com/bilsoftyzlm" />
    <meta name="twitter:site" content="Bilsoft" />
    <meta name="twitter:image" content="https://twitter.com/bilsoftyzlm/photo" />
    <meta property="og:type" content="yazılım" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:title" content="Hızlı Satış Programı" />
    <meta property="og:url" content="https://hizlisatis.bilsoft.com/" />
    <meta property="og:description" content="Tüm stok, kasa giriş-çıkışlarınızı otomatik olarak takip edin ve kayıpları azaltın. Basit arayüz ile sizlere hız kazandıracak olan Hızlı Satış Programı ile kârınızı arttırın!" />

    @*<!--Favicons-->
            <link href="assets/img/favicon.png" rel="icon">
            <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
        <link rel="shortcut icon" href="https://www.bilsoft.com/images/ico.png" />*@

    <link rel="canonical" href="https://www.hizlisatis.bilsoft.com/">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-13Y9GTYRV2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-13Y9GTYRV2');
    </script>


</head>


<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex align-items-center">
            <div class="logo mr-auto">

                <a title="Hızlı Satış Programı" href="/HizliSatis/Index"><img src="~/Content/assets/img/gallery/logo.svg" width="130" alt="hizli satis programi" class=""></a>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li><a title="Ana Sayfa" href="/HizliSatis/Index">Ana Sayfa</a></li>
                    <li><a title="Hızlı Satış" href="/HizliSatis/Index#hizlisatis">Hızlı Satış</a></li>
                    <li><a title="Özellikler" href="/HizliSatis/Ozellikler">Özellikler</a></li>
                    <li><a title="Ön Muhasebe" href="/HizliSatis/OnMuhasebe">Ön Muhasebe</a></li>
                    <li class="drop-down">
                        <a title="Ek Modüller" href="/HizliSatis/Index">Ek Modüller</a>
                        <ul>
                            <li><a title="Teklif Sipariş" href="/HizliSatis/SiparisVeTeklif">Teklif Sipariş Modülü</a></li>
                            <li><a title="Otomatik Yedekleme" href="/HizliSatis/OtomatikYedekleme">Otomatik Yedekleme</a></li>
                            <li><a title="Excel Veri Aktarım Modülü" href="/HizliSatis/ExcelVeriAktarim">Excel Veri Aktarım Modülü</a></li>
                            <li><a title="Stok Sayım Modülü" href="/HizliSatis/StokSayim">Stok Sayım Modülü</a></li>
                            <li><a title="Stok Risk Limiti Modülü" href="/HizliSatis/StokRiskLimiti">Stok Risk Limiti Modülü</a></li>
                        </ul>
                    </li>
                    <li><a title="İletişim" href="/HizliSatis/Contact">İletişim</a></li>

                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->
    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="footer-info">
                            <h3><a title="Bilsoft Yazılım" href="https://www.bilsoft.com/">Bilsoft Yazılım Bilgisayar San Tic. Ltd. Şti.</a> </h3>
                            <p class="pb-3"><em>Web yazılım, hosting, internet danışmanlık hizmetleri ve ticari yazılım hizmetleri vermektedir.</em></p>
                            <p>
                                <br>
                                <strong>Telefon:</strong><a title="Telefon" href="tel:+902129122426"> (0212) 912 24 26</a><br>
                                <strong>Email:</strong> bilgi@bilsoft.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a title="bilsoftyazilim" href="https://twitter.com/bilsoftyzlm" class="twitter"><i class="icofont-twitter"></i></a>
                                <a title="bilsoftyazilim" href="https://www.facebook.com/bilsoftyazilim/" class="facebook"><i class="icofont-facebook"></i></a>
                                <a title="bilsoftyazilim" href="https://www.instagram.com/bilsoftyazilim/" class="instagram"><i class="icofont-instagram"></i></a>
                                <a title="bilsoftyazilim" href="https://www.youtube.com/channel/UCswWwGeNRqRMYIVLF8YzqsQ/videos" class="google-plus"><i class="icofont-youtube"></i></a>
                                <a title="bilsoftyazilim" href="https://www.linkedin.com/company/bilsoftyazilim/mycompany/" class="linkedin"><i class="icofont-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 footer-links">
                        <h4>Ek Modüller</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a title="Teklif Sipariş Modülü" href="/HizliSatis/SiparisVeTeklif">Teklif Sipariş Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Otomatik Yedekleme Modülü" href="/HizliSatis/OtomatikYedekleme">Otomatik Yedekleme Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Excel Veri Aktarım Modülü" href="/HizliSatis/ExcelVeriAktarim">Excel Veri Aktarım Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Stok Sayım Modülü" href="/HizliSatis/StokSayim">Stok Sayım Modülü</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Stok Risk Limiti Modülü" href="/HizliSatis/StokRiskLimiti">Stok Risk Limiti Modülü</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 footer-links">
                        <h4>Sayfa Linkleri</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a title="Ana Sayfa" href="/HizliSatis/Index">Ana Sayfa</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Hızlı Satış" href="Index#hizlisatis">Hızlı Satış</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Özellikler" href="/HizliSatis/Ozellikler">Özellikler</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Kampanyalar" href="Index#pricing">Kampanyalar</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="Modüller" href="Index#details">Modüller</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a title="İletişim" href="/HizliSatis/Contact">İletişim</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <span>Hızlı Satış Programı</span>. Tüm Hakları Saklıdır | <strong><a title="Bilsoft Yazılım" href="https://www.bilsoft.com/">Bilsoft Yazılım </a></strong>| &nbsp;<a href="#" title="Kullanım Şartları">Çerez Politikası</a>
            </div>
        </div>
    </footer><!-- End Footer -->
    <a title="i" href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/counterup/counterup.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>

    @model HizliSatis4.Models.Email

    <script>
        $("form button.btn").on("click", function () {

            let mail = {
                "ad": $("input#ad").val(),                 
                "email": $("input#email").val(),
                "konu": $("input#konu").val(),
                "mesaj": $("textarea#mesaj").val(),
            };


            $.ajax({
                url: "@Url.Action("Index","HizliSatis")",
                type: "post",
                dataType: "JSON",
                data: mail,
                success: function (res) {
                    console.log(res)
                    if (res.IsSuccess) {

                    } else { }
                    for (var i = 0; i < 4; i++) {
                        $("form")[i].reset()
                    }

                },
                error: function () {

                }
            });

            return false;
        })

    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/619606226bb0760a494329b7/1fkp0fu5j';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script--> 
</body>
</html>