
@{
    ViewBag.Title = "ExcelVeriAktarim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Details Section ======= -->
<section id="details" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="~/Content/assets/img/gallery/excelmodül.png" id="modul" class="img-fluid" alt="efatura">
            </div>
            <div class="col-md-8 " data-aos="fade-up">
                <h3 id="modul">Excel Veri Aktarım Modülü</h3>
                <p class="font-italic">
                    Bilsoft Cari Hesap Programı Excel Yedekleme Yardımcısı sayesinde kullanmakta olduğunuz veritabını excel dökümanı halinde dışarı aktarabilir, aynı zamanda elinizdeki uygun formatlı excel dosyalarını programınızın veritabanına dahil edebilirsiniz.
                    Excel Yedekleme Yardımcısını kullanrak Bilsoft Cari Hesap programındaki Banka, Cari Gruplar, Cari Kartlar, Stok, Stok Birimleri, Stok Gruplar bilgilerinizi Excel dökümanı halinde yedeklemeniz mümkün.
                    Programımız aracılığı ile elinizde bulunan Excel dökümanlarını hiç zorlanmadan kullanmakta olduğunuz Bilsoft Cari Hesap Programı'na aktarabilir ve sorunsuz bir şekilde programı kullanmaya devam edebilirsiniz.
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row content">
            <div class="col-md-8 pt-4 " data-aos="fade-up">
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Excel'e Aktarma</strong></em></li>
                </ul>
                <p>
                    İki yol ile stok sayımı yapabilirsiniz. İsterseniz barkod okutarak isterseniz programın sol tarafındaki tablodan stok seçerekte yapabilirsiniz. Stok seçildikten sonra stok bilgileri gerekli yerleri otomatik olarak dolduracaktır.
                    İstediğiniz bilgileri güncelleyebilir ve stok sayım miktarınızı miktar bölümüne yazıp "Stok Bilgisini Güncelle" butonuna basarak o stoğun sayım işlemini tamamlayabilirsiniz.
                </p>
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Excel'den Programa Aktarma</strong></em></li>
                </ul>
                <p>
                    Stok Sayım programındaki tabloda ürünü bulamıyorsanız veya barkodu okuttuğunuzda ürün bulunamıyorsa, stok bilgilerini ve sayım miktarını girişini tamamladıktan sonra "Stok Kartına Yeni Ürün Ekle" butonuna basarak yeni stoğunuzu oluşturabilirsiniz.
                </p>
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Programın çalışabilmesi için bilgisayarınızda Microsoft Excel programının yüklü olması gerekmektedir.</strong></em></li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- End Details Section -->