
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-6  pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
                <div data-aos="zoom-out" style="padding-top:20px">
                    <h1>Hızlı Satışta ihtiyacınız olan her şey Bilsoft‘ta mevcut!</h1>
                    <h2>Perakendecilerin "Stok Takip Programı" olarak da kullanabileceği Hızlı Satış Programı, Bilsoft Ön Muhasebe ile tam entegre çalışır.</h2>
                    <div class="text-center text-lg-left">
                        <a href="https://www.bilsoft.com/indir.aspx?tip=urun&id=14" title="Demo Kullan" class="btn-get-started scrollto demo">Demo</a>
                        <a href="https://www.bilsoft.com/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d1600%26aciklama%3dMarket%2520Ma%25F0aza%2520Perakende%2520Program%25FD" title="Satın Al" class="btn-get-started scrollto">Satın Al</a>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2  " style="margin-top: 2%;  right: 5%;"
                 data-aos="zoom-out" data-aos-delay="300">

                <img src="~/Content/assets/img/hızlımarket dönek.png" alt="hizli satis" class="img-fluid animated" style="max-width:120%">

            </div>
        </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
        </g>
        <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
        </g>
        <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
        </g>
    </svg>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="hizlisatis" class="hizlisatis">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                    <video src="~/Content/assets/img/hizlisatisvideo.mp4" style="width:100%; height:100%;" type="video/mp4" autoplay="autoplay" playsinline="playsinline" muted="muted" controls="controls" style="pointer-events:auto; border-radius: 15px;" loop="loop"></video>
                </div>

                <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                    <h3>Şimdi Hızlı Satış'a Geçmenin Tam Zamanı!</h3>
                    <p>
                        Bilsoft Hızlı Satış Entegreli Ön Muhasebe Programı Kullanan Çiçek Market İşletmecisi Salim Bey,
                        Hızlı Satış ve barkod okuyucu entegreli Ön Muhasebe Programımız sayesinde ticari hayatlarının nasıl kolaylaştığını anlatıyor. VIP Teknik Destek ile anında ve öncelikli hizmetin tadını çıkarıyor.
                    </p>
                </div>
            </div>
        </div>
    </section><!-- End About Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <p>HIZLI SATIŞ PANELİ ÖZELLİKLERİ</p>
            </div>

            <div class="row" data-aos="fade-left">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="ön muhasebe ile tam entegrasyon"><img width="60" src="~/Content/assets/img/icon/tam-entegre.svg" id="panel" alt="on muhasebe" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="ön muhasebe ile tam entegrasyon">Ön Muhasebe ile Tam Entegrasyon</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="tek butonla nakit satış"><img width="60" src="~/Content/assets/img/icon/nakit-kart-tek-tus.svg" id="panel" alt="etahsilat" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="tek butonla nakit satış">Tek Butonla Nakit Satış</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Tek Butonla Kredi Kartı Satışı"><img width="60" src="~/Content/assets/img/icon/nakit-kart-tek-tus.svg" id="panel" alt="efatura programi" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Tek Butonla Kredi Kartı Satışı">Tek Butonla Kredi Kartı Satışı</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Çoklu Ödeme"><img width="60" src="~/Content/assets/img/icon/coklu-odeme.svg" id="panel" alt="coklu odeme" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Çoklu Ödeme">Çoklu Ödeme</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Kolay Para Girişi"><img width="60" src="~/Content/assets/img/icon/kolay-para-girisi.svg" id="panel" alt="gelir gider takibi" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Kolay Para Girişi">Kolay Para Girişi</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Para Üstü Takibi"><img width="60" src="~/Content/assets/img/icon/para-ustu-takibi.svg" id="panel" alt="gelir gider takibi" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Para Üstü Takibi">Para Üstü Takibi</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Para Çekmecesi Bağlantısı"><img width="60" src="~/Content/assets/img/icon/para-cekmece-baglanti.svg" id="panel" alt="efatura" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Para Çekmecesi Bağlantısı">Para Çekmecesi Bağlantısı</a></h3>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Çoklu Müşteri Bekletme"><img width="60" src="~/Content/assets/img/icon/musteri-bekletme.svg" id="panel" alt="hizli satis" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Çoklu Müşteri Bekletme">Çoklu Müşteri Bekletme</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Müşteri Göstergesi"><img width="60" src="~/Content/assets/img/icon/musteri-gostergesi.svg" id="panel" alt="efatura programi" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Müşteri Göstergesi">Müşteri Göstergesi (PosClass)</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Yazarkasa Pos"><img width="60" src="~/Content/assets/img/icon/yazar-kasa-pos.svg" id="panel" alt="etahsilat" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Yazarkasa Pos">Yazarkasa Pos</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Barkod Okuyucu Entegre"><img width="60" src="~/Content/assets/img/icon/barkod-okuyucu-entegre.svg" id="panel" alt="market barkod okuyucu" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Barkod Okuyucu Entegre">Barkod Okuyucu Entegre</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Marketlerde Barkod ile Hızlı Satış"><img width="60" src="~/Content/assets/img/icon/marketlerde-barkod-ile-hizli-satis.svg" id="panel" alt="hizli satis programi" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Marketlerde Barkod ile Hızlı Satış">Marketlerde Barkod ile Hızlı Satış</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Fiş ve Fatura Yazdırabilme"><img width="60" src="~/Content/assets/img/icon/fis-fatura-yazdirma.svg" id="panel" alt="fatura" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Fiş ve Fatura Yazdırabilme">Fiş ve Fatura Yazdırabilme</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Ağ üzerinden Çalışma"><img width="60" src="~/Content/assets/img/icon/ag-uzerinden-calisma.svg" id="panel" alt="hizli satis programi" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Ağ üzerinden Çalışma">Ağ üzerinden Çalışma</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Dokunmatik Hızlı Ürün Ekleme"><img width="60" src="~/Content/assets/img/icon/dokunmatik-hizli-urun-ekleme-5.svg" id="panel" alt="market dokunmatik ekran" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Dokunmatik Hızlı Ürün Ekleme">Dokunmatik Hızlı Ürün Ekleme</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                        <a href="/HizliSatis/Ozellikler" title="Dokunmatik Ekran Özelliği"><img width="60" src="~/Content/assets/img/icon/dokunmatik-ekran-ozelligi.svg" id="panel" alt="market dokunmatik ekran" /></a>
                        <h3><a href="/HizliSatis/Ozellikler" title="Dokunmatik Ekran Özelliği">Dokunmatik Ekran Özelliği</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Features Section -->
    <!-- About Section2 -->
    <section id="hizlisatis" class="hizlisatis">
        <div class="container">
            <div class="row">

                <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-right">
                    <h3>Şimdi Hızlı Satış'a Geçmenin Tam Zamanı!</h3>
                    <p>
                        Stok Takip Programı olarak da kullanabileceğiniz Bilsoft Hızlı Satış Programı, Ön Muhasebe ile entegre çalışmaktadır. Bu çalışma sisteminde tüm stok, kasa giriş-çıkışlarınızı otomatik olarak takip edin ve kayıpları azaltın.
                        Basit arayüz ile sizlere hız kazandıracak olan Hızlı Satış Programı ile iş sürecinizi kolaylaştırın.
                    </p>
                </div>
                <div class="col-xl-6 col-lg-6 d-flex justify-content-center align-items-stretch" data-aos="fade-left">
                    <img src="~/Content/assets/img/uçan marktein elli ekranı copy.png" class="img-fluid ucanel" alt="hizli satis" />
                </div>
            </div>
        </div>
    </section>
    <!-- End About Section2 -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                @*<h2>Kampanyalar</h2>*@
                <p>KAMPANYALARIMIZ</p>
            </div>

            <div class="row" data-aos="fade-left">
                <div class="col-lg-4 col-md-6">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <img class="img-fluid" src="~/Content/assets/img/Asset 29.png" alt="hizli satis" />
                    </div>

                    <div class="btn-wrap">
                        <a href="https://www.bilsoft.com/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d1600%26aciklama%3dMarket%2520Ma%25F0aza%2520Perakende%2520Program%25FD" title="Satın Al" class="btn-buy">Satın Al</a>
                    </div>
                    <div class="btn-wrap">
                        <a href="https://www.bilsoft.com/indir.aspx?tip=urun&id=14" title="Demo Kullan" class="btn-demo">Demo</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="400">

                        <img class="img-fluid" src="~/Content/assets/img/Asset 30.png" alt="hizli satis" />
 
                    </div>

                    <div class="btn-wrap">
                        <a href="https://www.bilsoft.com/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d1600%26aciklama%3dMarket%2520Ma%25F0aza%2520Perakende%2520Program%25FD" title="Satın Al" class="btn-buy">Satın Al</a>
                    </div>
                    <div class="btn-wrap">
                        <a href="https://www.bilsoft.com/indir.aspx?tip=urun&id=14" title="Demo Kullan" class="btn-demo">Demo</a>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                        <img class="img-fluid" src="~/Content/assets/img/Asset 31.png" title="Demo Kullan" alt="hizli satis" />
                       
                    </div>

                    <div class="btn-wrap">
                        <a href="https://www.bilsoft.com/uye_giris.aspx?ReturnUrl=%2fodeme.aspx%3ftutar%3d1600%26aciklama%3dMarket%2520Ma%25F0aza%2520Perakende%2520Program%25FD" title="Satın Al" class="btn-buy">Satın Al</a>
                    </div>
                    <div class="btn-wrap">
                        <a href="https://www.bilsoft.com/indir.aspx?tip=urun&id=14" title="Demo Kullan" class="btn-demo">Demo</a>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>Hızlı Satış Programı Bilsoft Ön Muhasebe Programına Tam Entegre Olarak Çalışır</h2>
                <p>BİLSOFT ÖN MUHASEBE PROGRAMI ÖZELLİKLERİ</p>
            </div>
           
            <div class="row">
                <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">

                        <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/cari-kart.svg" alt="cari hesap" /></div>
                        <h4 class="title">Cari Kart Modülü</h4>
                        <ul class="description fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız Cari Hesap kartı tanımlama</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cariye Stoklu-Stoksuz Satış</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cariye kasa'dan ödeme ve tahsilat yapabilme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cariyi borçlandırma ve alacaklandırma işlemleri</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Tahsilat ve ödeme makbuzu kesme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cari hesap ekstresi, Toplu Cari raporu ve cari işlem raporu alabilme</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/fatura-takip.svg" alt="fatura" /></div>
                        <h4 class="title">Fatura Modülü</h4>
                        <ul class="description fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Alış, Satış ve İade faturası düzenleme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Hızlı parekende satışı yapabilme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Standart ve gramajlı ürün barkod desteği</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>İrsaliyeyi fatura dönüştürme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Fatura makbuz basımı</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Detaylı alış, satış ve iade faturası raporlama</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box">
                        <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/raporlama.svg" alt="efatura programi" /></div>
                        <h4 class="title">Raporlama Sistemi</h4>
                        <ul class="description fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cari kartlara ait Hesap ekstresi, Toplu cari raporu v.b.</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Stok, Depo Hareketleri, Stok listeleri raporu v.b.</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Satış raporu ve satış grafiği</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kasa Hareketleri Raporu</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka Hareketleri Raporu</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Çek/Senet raporu</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kar-Zarar Analizi</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Gün Sonu Raporu</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/taksit-takip.svg" alt="gelir takibi" /></div>
                        <h4 class="title">Taksit Takip Modülü</h4>
                        <ul class="description fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Otomatik taksitlendirme Modülü</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Vadesi gelen taksitleri ana ekranda uyarma</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Taksitlerin tahsilat ve ödeme işlemleri</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Detaylı taksit raporu alabilme</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class=" box">
                        <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/banka-takip.svg" alt="gider takibi" /></div>
                        <h4 class="title">Banka Takip Modülü</h4>
                        <ul class="description fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız banka hesabı tanımlama</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka hareket girişi yapabilm</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka'dan Bankaya veya Banka'dan Kasaya virman yapabilme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka hareketlerini detaylı raporlama</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box">
                        <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/stok-takip.svg" alt="stok takip" /> </div>
                        <h4 class="title">Stok Takibi Modülü</h4>
                        <ul class="description fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınısız Depo tanımlama</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız Stok Kartı tanımlama</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Stok grubu ve birimi tanımlama</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Toplu stok raporu ve stok hareketleri raporunu alabilme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Barkodsuz ürünler için otomatik barkod tanımlama</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Depo hareketleri raporunu alabilme</li>
                            <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Depolar arası virman</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center text-lg-center" data-aos="zoom-in" data-aos-delay="300">
                        <a href="/HizliSatis/OnMuhasebe" title="Diğer özellikler" class="btn-get-started scrollto">Daha Fazla</a>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>S.S.S</h2>
                <p>Sıkça Sorulan Sorular</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" title="s.s.s" class="collapsed" href="#faq-list-1">Bilsoft Premium Ön Muhasebe Programı’na aylık veya yıllık olarak ödeme gerektirir mi? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse" data-parent=".faq-list">
                            <p>
                                Sadece tek sefer ücret ödenir. Ömür boyu lisanslı bir şekilde kullanıma devam edilir.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" title="s.s.s" class="collapsed">Bilsoft Premium Ön Muhasebe Programı’nı kaç bilgisayara kurabilirim?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                            <p>
                                Bilsoft Premium Ön Muhasebe Programı’nı sadece bir bilgisayara kurabilirsiniz. Ağ üzerinden birden fazla bilgisayara kurulum için ek lisans gerekir.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" title="s.s.s" class="collapsed">Bilsoft Premium Ön Muhasebe Programı’nın en son güncellemesi geldiğinde ücret ödeyecek miyim?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                            <p>
                                Bilsoft Premium Ön Muhasebe Programı içerisinden güncelleme yaptığınız takdirde otomatik olarak yapılır. Ek bir ücret ödemezsiniz.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" title="s.s.s" class="collapsed">Bilsoft Premium Ön Muhasebe Programı’nın devir işlem ücreti var mıdır?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                            <p>
                                Bilsoft Premium Ön Muhasebe Programı’nın satın alınan ilk yılı için devir işlemi ücretsiz olarak yapılır. Diğer yıllar ek bir ücret talep edilir.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" title="s.s.s" class="collapsed">Bilsoft Premium Ön Muhasebe Programı Online sisteme aktarılabilir mi?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                            <p>
                                Bilsoft Premium Ön Muhasebe Programı’nın Online sisteme aktarım işlemi sağlanır. Ancak aktarım yapılırken ek modüller Online sisteme dahil edilmez.
                            </p>
                        </div>
                    </li>
                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-6" title="s.s.s" class="collapsed">Bilsoft Premium Ön Muhasebe Programı’nın teknik destek ücreti var mıdır?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-6" class="collapse" data-parent=".faq-list">
                            <p>
                                Programda kullanıcıdan kaynaklı sorunlarda teknik destek ücreti talep edilir. Programsal sorunlarda teknik destek ücreti alınmaz.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section><!-- End F.A.Q Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <p>İletişim</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right" data-aos-delay="100">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Adres:</h4>
                            <p>Düzce Üniversitesi Teknopark - Orhangazi Mah Teknopark Cad. No:1 Kat:2, 81100 Merkez/Düzce</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>bilgi@bilsoft.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Telefon: </h4>
                            <a href="tel:+902129122426" title="Telefon">(0212) 912 24 26</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
                    @model HizliSatis4.Models.Email
                    <form method="post" role="form" class="php-email-form">
                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <input type="text"  class="form-control" name="ad" id="ad" placeholder="Ad" data-rule="minlen:4" data-msg="En az 4 karakter yazın" />
                                
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Lütfen email adresinizi yazın" />
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="konu" id="konu" placeholder="Konu" data-rule="minlen:4" data-msg="En az 8 karakter yazın" />
                            
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="mesaj" id="mesaj" rows="2" data-rule="required" placeholder="Mesaj"></textarea>
                            
                        </div>
                        <div class="mb-3">
                            <div class="loading">Yükleniyor</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Mesajınız başarıyla gönderildi!</div>
                        </div>
                        <div class="text-center"><button type="button" class="btn btn-get-started">Gönder</button></div>
                    </form>


                    @*@model HizliSatis4.Models.Email
                        @using (Html.BeginForm("Index", "HizliSatis", FormMethod.Post, new { @class = "well form-horizontal" }))
                        {
                            <fieldset class="php-email-form">
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <div>
                                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Ad Soyad" } })
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <div>
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        @Html.EditorFor(model => model.subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Konu" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control", id = "icerik", placeholder = "Mesaj", rows = "2" } })
                                    </div>
                                </div>
                                <div class="my-3">
                                    <div class="loading">Yükleniyor</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Mesajınız Gönderildi. Teşekkürler</div>
                                </div>
                                <div class="text-center"><button type="submit">Mesaj Gönder</button></div>
                            </fieldset>
                        }*@
                </div>
            </div>
        </div>
    </section><!-- End Contact Section -->
</main><!-- End #main -->

