
@{
    ViewBag.Title = "OnMuhasebe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">
        <div class="section-title" ><br />
            <p>BİLSOFT ÖN MUHASEBE PROGRAMI ÖZELLİKLERİ</p>
        </div>        
        <div class="row">
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100" alt="on muhasebe">
                <div class="box">

                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/cari-kart.svg" alt="on muhasebe" /></div>
                    <h4 class="title">Cari Kart Modülü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız Cari Hesap kartı tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cariye Stoklu-Stoksuz Satış</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cariye kasa'dan ödeme ve tahsilat yapabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cariyi borçlandırma ve alacaklandırma işlemleri</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Tahsilat ve ödeme makbuzu kesme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cari hesap ekstresi, Toplu Cari raporu ve cari işlem raporu alabilme</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/fatura-takip.svg" alt="fatura" /></div>
                    <h4 class="title">Fatura Modülü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Alış, Satış ve İade faturası düzenleme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Hızlı parekende satışı yapabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Standart ve gramajlı ürün barkod desteği</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>İrsaliyeyi fatura dönüştürme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Fatura makbuz basımı</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Detaylı alış, satış ve iade faturası raporlama</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/raporlama.svg" alt="efatura programi" /></div>
                    <h4 class="title">Raporlama Sistemi</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Cari kartlara ait Hesap ekstresi, Toplu cari raporu v.b.</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Stok, Depo Hareketleri, Stok listeleri raporu v.b.</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Satış raporu ve satış grafiği</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kasa Hareketleri Raporu</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka Hareketleri Raporu</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Çek/Senet raporu</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kar-Zarar Analizi</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Gün Sonu Raporu</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/taksit-takip.svg" alt="gelir takibi" /></div>
                    <h4 class="title">Taksit Takip Modülü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Otomatik taksitlendirme Modülü</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Vadesi gelen taksitleri ana ekranda uyarma</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Taksitlerin tahsilat ve ödeme işlemleri</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Detaylı taksit raporu alabilme</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class=" box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/banka-takip.svg" alt="gider takibi" /></div>
                    <h4 class="title">Banka Takip Modülü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız banka hesabı tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka hareket girişi yapabilm</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka'dan Bankaya veya Banka'dan Kasaya virman yapabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Banka hareketlerini detaylı raporlama</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/stok-takip.svg" alt="stok takip" /> </div>
                    <h4 class="title">Stok Takibi Modülü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınısız Depo tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız Stok Kartı tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Stok grubu ve birimi tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Toplu stok raporu ve stok hareketleri raporunu alabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Barkodsuz ürünler için otomatik barkod tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Depo hareketleri raporunu alabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Depolar arası virman</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/kasa-takip.svg" alt="gelir gider takibi"/></div>
                    <h4 class="title">Kasa Takip Modülü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kasadan ödeme ve tahsilat işlemleri</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kasadaki kalan bakiyeyi görme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Kasa'dan banka'ya virman yapabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>İki tarih arası detaylı raporlama</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/cek-senet-takip.svg" alt="gelir gider takibi"/></div>
                    <h4 class="title">Çek-Senet takibi</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Sınırsız çek-senet tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Çeklerin ödeme/tahsilat durumunu değiştirme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>İki tarih arasında detaylı raporlama</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <div><img id="muhasebeOzellik" width="60" src="~/Content/assets/img/icon/kullanici-arayuzu.svg"  alt="efatura programi"/></div>
                    <h4 class="title">Kullanıcı Arayüzü</h4>
                    <ul class="description fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Birden çok bilgisayardan erişim</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Firma bilgi tanımlama  </li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Şube Tanımlama</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>İnternetin olduğu her yerde mekandan bağımsız başlanabilme</li>
                        <li><span class="fa-li"><i class="fas fa-check" style="color:#004b89"></i></span>Her kullanıcıyı yetkilendirme (Ekleme,Düzenleme,Silme Raporlama işlemlerine göre)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Services Section -->