
@{
    ViewBag.Title = "OtomatikYedekleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ======= Details Section ======= -->
<section id="details" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="~/Content/assets/img/gallery/OtomatikYedeklemeModulu.png" id="modul" class="img-fluid" alt="hizli satis programi">
            </div>
            <div class="col-md-8 " data-aos="fade-up">
                <h3 id="modul">Otomatik Yedekleme Modülü</h3>
                <p class="font-italic">
                    Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış olan bu program sayesinde artık verilerinizin kaybolmasından korkmanıza gerek kalmayacak. Programımız aracılığı ile Bilsoft Cari Takip programınızın veritabanının dilediğiniz an, dilediğiniz adrese yedeğini alabilirsiniz.
                    İsterseniz flash diskinize, isterseniz harici hard diskinize yedek alarak verilerinizi güvenli bir şekilde saklayabilirsiniz.
                </p>        
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row content">
            <div class="col-md-8 pt-4 " data-aos="fade-up">
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Yedek Oluşturma</strong></em></li>
                </ul>
                <p>
                    ".bls" uzantılı yedeklerinizi Bilsoft Cari Hesap Programı'nda kullanmak üzere yedekleyebilirsiniz.
                </p>
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Periyodik olarak Düzenli Yedekleme</strong></em></li>
                </ul>
                <p>
                    Düzenli yedeklemeyi ayarlayarak programın sizin belirlediğiniz aralıklarda sizin belirlediğiniz adrese yedek almasini sağlayabilirsiniz. Dilerseniz programın kendi klasörü içine yedek alabilir ya da harici disk veya flash diskinizi yedekleme için kullanabilirsiniz.
                    Yedeklemeyi dilediğiniz zaman başlatıp dilediğiniz zaman durdurabilirsiniz.
                </p>
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Otomatik Devreye Girmeye</strong></em></li>
                </ul>
                <p>
                    Program kurulduktan sonra otomatik çalışmaya başlayacaktır. Bilgisayarınızı yeniden başlatmanız durumunda açılışta otomatik çalışmaya devam edecektir.
                </p>
            </div>
        </div>
    </div>
                <div class="container">
                    <div class="row content">
                        <div class="col-md-8 pt-4 " data-aos="fade-up">
                            <div class="section-title" data-aos="fade-up">

                                <h4>Otomatik Yedekleme Modülü ile neler yapabilirsiniz?</h4>
                            </div>
                            <ul class="font-italic">
                                <li>
                                    İsterseniz düzenli yedek alma özelliğini kullanarak programın düzenli yedekler oluşturmasini sağlayabilirsiniz.
                                    Bu özellik sayesinde programımız sizin belirlediğiniz sıklıkta, belirtmiş oldugunuz adrese yedekler alacaktır.
                                </li>
                                <li>
                                    Program arka planda size hiçbir şekilde rahatsızlık vermeden çalışmaktadir. Bu özellik sayesinde yedek almayı unutmak gibi bir riskiniz kalmayacak!<br />
                                </li>
                                <li>Programımızın aynı zamanda oluşturmuş olduğunuz yedekleri Bilsoft Cari Hesap Programı üzerine geri yükleme özelliği de vardir.</li>
                                <li>Oluşturduğunuz yedekleri geri yüklemek istediğinizde, yedek dosyasını ve programın yüklü olduğu adresi belirtip "Geri Yükle" butonuna tıkladığınızda yedek dosyanız geri yüklenecektir.</li>

                            </ul>
                        </div>
                    </div>
                </div>
</section><!-- End Details Section -->