
@{
    ViewBag.Title = "Ozellikler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <h2></h2>
<section id="features" class="features">
    <div class="container">

        <div class="section-title" >
            <p id="modul">HIZLI SATIŞ PANELİ ÖZELLİKLERİ</p>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/tam-entegre.svg" id="panel" width="60" alt="hizli satis">
                </div>
                <div class="col-md-11" data-aos="fade-right">
                    <h3>Ön Muhasebe Programıyla Tam Entegrasyon Çalışma</h3>
                    <p class="fontclass">
                        Bilsoft Ön Muhasebe Programlarıyla tam entegrasyon çalışan Hızlı Satış Programı sizlerin avantajınıza olacaktır. Muhasebe Programı vasıtasıyla kendi bünyenizde gelir-gideri takip etmek kolaylaşacak. Muhasebe Programıyla entegre çalışması sizler için carilerinizi, stoklarınızı, taksitlerinizi, faturalarınızı, çeklerinizi teklif ve siparişlerinizi takip genel anlamıyla program içerisinden de takip edebilirsiniz. Muhasebe Programıyla entegre çalışan Bilsoft Hızlı Satış Ekranı tüm stok takibinizi, satışlarınızı takibini sağlar. Ayrıca Muhasebe Programında entegre olan raporlar sizlere tüm detayı sunacaktır.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left" >
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/nakit-kart-tek-tus.svg" id="panel" width="60" alt="fatura">
                </div>
            <div class="col-md-11 order-2 order-md-1 " data-aos="fade-left">
                <h3>Tek Butonla Nakit Satış</h3>
                    <p class="fontclass">
                    Hızlı Satış ekranının genel kolay kullanım özelliğiyle sizlere tek tuşla işlemlerinizin gerçekleştirilmesini sağlar. Nakit Satış işlemi gerçekleştirilirken hızlı stok ürün ekleme hızlı para ekleme ve para üstünü görerek işlemlerinizi gerçekleştirebilirsiniz.
                     </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/nakit-kart-tek-tus.svg" id="panel" width="60" alt="gelir gider takibi">
                </div>
                <div class="col-md-11 order-2 order-md-1 " data-aos="fade-right">
                    <h3>Tek Butonla Kredi Kartı Satışı</h3>
                    <p class="fontclass">
                        Hızlı Satış ekranının genel kolay kullanım özelliğiyle sizlere tek tuşla işlemlerinizin gerçekleştirilmesini sağlar. Kredi Kartı satış işlemi gerçekleştirilirken hızlı stok ürün ekleme hızlı para ekleme ve para üstünü görerek işlemlerinizi gerçekleştirebilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/coklu-odeme.svg" id="panel" width="60" alt=" gelir gider takibi">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Çoklu Ödeme</h3>
                    <p class="fontclass">
                        Satış ekranınızda müşterilerinizden gelen aynı ödemeleri hem nakit hem kredi kartı ödeme seçeneği ile sizler işleminizi kolay kullanımlı ekranlarımızda hızlandıracaksınız.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/kolay-para-girisi.svg" id="panel" width="60" alt="efatura">
                </div>
                <div class="col-md-11  order-2 order-md-1" data-aos="fade-right">
                    <h3>Kolay Para Girişi</h3>
                    <p class="fontclass">
                        Satışlarınızda müşterilerinizin işlemini tam entegrasyon muhasebe programıyla hızlandırmak için para girişlerinde ister dokunmatik ekran ile ister mouse yardımıyla Hızlı Para seçmenizi sağlar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/para-ustu-takibi.svg" id="panel" width="60" alt="fatura">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Para Üstü Takibi</h3>
                    <p class="fontclass">
                        Kullanıcı tarafından müşterilerden alınan paraların, para üstünü kolaylık ve hızlıca verilmesini ekranda anında gösterilmesidir.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/para-cekmece-baglanti.svg" id="panel" width="60" alt="etahsilat">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-right">
                    <h3>Para Çekmecesi Bağlantısı</h3>
                    <p class="fontclass">
                        Hızlı satış ekranıyla bağlantılı para çekmecesi otomatik olarak çalışacaktır. Satışlarınızda anında işlemde para çekmecesi otomatik olarak çalışır ve sizlere güvenlik açısından da avantaj sağlar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/musteri-bekletme.svg" id="panel" width="60" alt="hizli satis">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Müşteri Bekletme</h3>
                    <p class="fontclass">
                        Hızlı Satış yaptığınız sırada farklı müşterileriniz alışverini tamamlamış olabilirler. Bunun için sizlere çözüm sağladık. Birden fazla ödeme ekranı açarak işlemleriniz hız kesmeden tamamlanabilir.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/musteri-gostergesi.svg" id="panel" width="60" alt="efatura programi">
                </div>
                <div class="col-md-11 order-2 order-md-1 " data-aos="fade-right">
                    <h3>Müşteri Göstergesi(PosClass)</h3>
                    <p class="fontclass">
                        Hızlı satış işleminde anında yapılan işlemlerin tüm bilgilerini müşteri ekranında anında gösterilir.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/yazar-kasa-pos.svg" id="panel" width="60" alt="efatura">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Yazarkasa Pos</h3>
                    <p class="fontclass">
                        Yapılan nakit hızlı satış işleminde müşteriniz ile alakalı yazar kasa pos cihazıyla birlikte fiş verebilirsiniz. Ayrıca Kredi kartı ödemesinde yapılan çalışmada işlem bilgisi ardından kredi kartını cihaza okutarak kredi kartı satışınızı da hızlıca gerçekleştirebilirsiniz. Hızlı satış programımız Olivetti Verifone MX-915 yazar kasa pos cihazı ile entegrasyonu sağlanmıştır.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/barkod-okuyucu-entegre.svg" id="panel" width="60" alt="market barkod okuyucu">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-right">
                    <h3>Barkod Okuyucu Entegre</h3>
                    <p class="fontclass">
                        Perakende sektörünün en çok ihtiyacı olan Barkod Okuyucu entegre sistemiyle işleriniz hızlansın.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/marketlerde-barkod-ile-hizli-satis.svg" id="panel" width="60" alt="market barkod okuyucu">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Marketlerde Barkod ile Hızlı Satış</h3>
                    <p class="fontclass">
                        Hızlı satış işlemleri en çok marketler, bakkallar, vb. firmalar için Barkod okuyucu vasıtasıyla sizlere kolaylık sağlayacak.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/fis-fatura-yazdirma.svg" id="panel" width="60" alt="fatura">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-right">
                    <h3>Fiş ve Fatura Yazdırabilme</h3>
                    <p class="fontclass">
                        Hızlı satışlarınızda müşterilerinize anında işlem fişi verebilir veya fatura kesebilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/ag-uzerinden-calisma.svg" id="panel" width="60" alt="on muhasebe">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Ağ üzerinden Çalışma</h3>
                    <p class="fontclass">
                        Ağ üzerinden birden fazla bilgisayar ile çalışmak sizlerin avantajınıza olacaktır. Hızlı Satışlarınız birden fazla kasadan yapıldığında ağ üzerinden çalışan program vasıtasıyla işlemleriniz anından tamamlanacaktır.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-right">
                <div class="icon-box-stil" data-aos="fade-right">
                    <img src="~/Content/assets/img/icon/dokunmatik-hizli-urun-ekleme-5.svg" id="panel" width="60" alt="hizli satis">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-right">
                    <h3>Dokunmatik Hızlı Ürün Ekleme</h3>
                    <p class="fontclass">
                        Program içerisinde ürünlerinizi resim, barkod, stok adı ekleyerek tanımlayabilirsiniz. Ürünler bölümünde 5 ayrı gruplandırma ise sizlere avantaj sağlayacaktır.
                    </p>
                </div>
            </div>
        </div>
        <div class="row content">
            <div class="kutu-stil" data-aos="fade-left">
                <div class="icon-box-stil" data-aos="fade-left">
                    <img src="~/Content/assets/img/icon/dokunmatik-ekran-ozelligi.svg" id="panel" width="60" alt="hizli satis">
                </div>
                <div class="col-md-11 order-2 order-md-1" data-aos="fade-left">
                    <h3>Dokunmatik Ekran Özelliği</h3>
                    <p class="fontclass">
                        Hızlı satış ekranında perakende satış yapan firmalar için kolaylık sağlayan dokunmatik ekran çalışmasıyla işleriniz hız kazanacak.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Features Section -->
