
@{
    ViewBag.Title = "SiparisVeTeklif";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Details Section ======= -->
<section id="details" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="~/Content/assets/img/gallery/teklifmodüll.png" id="modul" class="img-fluid" alt="on muhasebe">
            </div>
            <div class="col-md-8 " data-aos="fade-up">
                <h3 id="modul">Teklif-Sipariş Modülü</h3>
                <p class="font-italic">
                    Bilsoft teklif ve sipariş modülü, ön muhasebe programınıza entegre olarak çalışan bir modüldür.
                    Modül sayesinde farklı teklifler oluşturabilir, bu teklifleri kayıt altında tutarak en uygun teklifinizi siparişe döndürebilirsiniz.
                    Siparişlerinizi de faturalandırabilir ve faturanızı muhasebe programına işleyebilirsiniz.
                    Modül ücretsiz muhasebe programının içerisinde kurulu olarak gelmektedir.
                    Fakat kullanabilmek için lisans satın almanız gerekmektedir.
                </p>
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Teklif</strong></em></li>
                </ul>
                <p>
                    Satış öncesi, müşterilerinizin talebi doğrultusunda indirimli ve özel seçeneklerin tanımlanarak mal veya hizmet için sunabileceğiniz tekliflerin oluşturulduğu modüldür.
                    Müşterinize sunduğunuz teklif kabul gördüğünde, teklifi tek tuşla satış faturasına çevirerek yeniden fatura hazırlama zahmetinden kurtulursunuz.
                </p>         
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row content">
            <div class="col-md-8 pt-4 " data-aos="fade-up">
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Sipariş</strong></em></li>
                </ul>
                <p>
                    Toptancınızdan aldığınız siparişleri, ek notlar ile birlikte kaydedebileceğiniz sipariş takip modülüdür. Sipariş hazırlandığında, tek tuş ile alış faturasına çevirerek, işlemlerinizi hızlandırabilirsiniz.

                </p>
            </div>
        </div>
    </div>
                <div class="container">
                    <div class="row content">
                        <div class="col-md-8 pt-4" data-aos="fade-up">
                            <div class="section-title" data-aos="fade-up">
                                <h4>Sipariş ve Takip Modülü ile neler yapabilirsiniz?</h4>
                            </div>
                            <ul class="font-italic">
                                <li>Müşterilerinizden aldığınız siparişleri kayıt altında tutun.</li>
                                <li>Sipariş bilgileri teslim tarihi sipariş tutarı vb. bilgilere kolaylıkla ulaşabilirsiniz.</li>
                                <li>Siparişiniz onaylandığında faturalandırarak alışınızı gerçekleştirebilirsiniz.</li>
                                <li>Teklif çıktısı oluşturarak müşterinize teklif mektubu sunabilirsiniz.</li>
                                <li>Firmanıza özel teklif tasarımları yapılabilirsiniz.</li>
                                <li>Şablonlar ile genel şartlar, ödeme şartları ve özel açıklamalar kullanılarak istenilen şartlara göre hızlı teklif hazırlayabilirsiniz.</li>
                                <li>Alınan ve verilen tekliflerin takip süreci (Onay Bekliyer, Onaylandı, Siparişe Dönüştü vb..) </li>
                                <li>Barkod okuyucu ile hızlı teklif ve sipariş girişi yapabilirsiniz.</li>
                                <li>Teklif veya sipariş işlemlerinizin detaylı raporunu alabilirsiniz.</li>
                            </ul>
                        </div>
                    </div>
                </div>
</section><!-- End Details Section -->