
@{
    ViewBag.Title = "StokRiskLimiti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="details" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="~/Content/assets/img/gallery/stokrisk.png" id="modul" class="img-fluid" alt="stok takip">
            </div>
            <div class="col-md-8 " data-aos="fade-up">
                <h3 id="modul">Stok Risk Limiti Modülü</h3>
                <p class="font-italic">
                    Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış olan bu program sayesinde artık stoklarınıza risk limiti belirtebileceksiniz. Belirli bir sayının altına düşen stoklarınıza risk limiti belirleyerek elinizdeki stoklarınızın takibini daha sağlıklı bir şekilde gerçekleştirebileceksiniz. Bilsoft Stok Risk Limiti Programı riskli ürünleriniz belirlediğiniz sayının altına düştüğü taktirde mail adresinize bildirir.
                </p>                
            </div>
        </div>
    </div>    
</section><!-- End Details Section -->