
@{
    ViewBag.Title = "StokSayim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Details Section ======= -->
<section id="details" class="details">
    <div class="container">

        <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
                <img src="~/Content/assets/img/gallery/excelmodül.png" id="modul" class="img-fluid" alt="stok takip">
            </div>
            <div class="col-md-8" data-aos="fade-up">
                <h3 id="modul">Stok Sayım Modülü</h3>
                <p class="font-italic">
                    Bilsoft Cari Hesap Programı kullanıcılarının istekleri doğrultusunda hazırlanmış olan bu program sayesinde artık stok sayım işlemi çok kısa sürede ve güvenli olarak yapılabileceksiniz.
                    Bilsoft Stok Sayım programı stoklarınızı kolay ve hızlı bir şekilde saymanız için hazırlanmıştır.
                </p>
                <ul>
                <li><i class="icofont-check"></i><em><strong>Stok Sayma</strong></em></li>
                </ul>
                <p>
                    İki yol ile stok sayımı yapabilirsiniz. İsterseniz barkod okutarak isterseniz programın sol tarafındaki tablodan stok seçerekte yapabilirsiniz. Stok seçildikten sonra stok bilgileri gerekli yerleri otomatik olarak dolduracaktır.
                    İstediğiniz bilgileri güncelleyebilir ve stok sayım miktarınızı miktar bölümüne yazıp "Stok Bilgisini Güncelle" butonuna basarak o stoğun sayım işlemini tamamlayabilirsiniz.
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row content">
            <div class="col-md-8 pt-4" data-aos="fade-up">                
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Stok Ekleme</strong></em></li>
                </ul>
                <p>
                    Stok Sayım programındaki tabloda ürünü bulamıyorsanız veya barkodu okuttuğunuzda ürün bulunamıyorsa, stok bilgilerini ve sayım miktarını girişini tamamladıktan sonra "Stok Kartına Yeni Ürün Ekle" butonuna basarak yeni stoğunuzu oluşturabilirsiniz.
                </p>

                <ul>
                    <li><i class="icofont-check"></i><em><strong>Tüm Stoklara Belirli Bir Miktar Ekle</strong></em></li>
                </ul>
                <p>
                    Stok Sayım programın menüsünden "Diğer Ayarlar" tıkladığınızda, açılan pencerede Hızlı Stok Gir bölümünden istediğiniz miktar kadar tüm stoklara miktar girişi yapabilirsiniz.

                </p>
                <ul>
                    <li><i class="icofont-check"></i><em><strong>Tüm Stokları Sıfırla - Sayımı Yenile</strong></em></li>
                </ul>
                <p>
                    Stok Sayım programın menüsünden "Diğer Ayarlar" tıkladığınızda açılan pencereden yapabilirsiniz.
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row content">
            <div class="col-md-8 pt-4 " data-aos="fade-up">
                <div class="section-title" data-aos="fade-up">
                    <h4>Stok Sayım Modülü ile neler yapabilirsiniz?</h4>
                </div>
                <ul class="font-italic">
                    <li>Bilsoft Cari Takip programındaki ürünlerin bilgilerini güncelleyebilir, sayım miktarınızı girebilirsiniz.</li>
                    <li>Programda kayıtlı olmayan ürünleri de kolayca ekleyip sayım miktarını girebilirsiniz.</li>
                    <li>Arama bölümündeki, stok sayımı yapılan veya yapılmayan filtreleme ile sayım yapılan veya yapılmayan ürünleri kolayca bulabilirsiniz. 
                    Bu özellik sayesinde hangi ürünü sayıp saymadığınızı göreceksiniz.</li>
                    <li>Sayım işlemini isterseniz barkod okutarak isterseniz Stok Sayım programındaki ürün tablosundan seçerek hızlı bir şekilde yapabilirsiniz. 
                    Bu özellik sayesinde sayım işlemini çok kısa sürede bitirebileceksiniz.</li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- End Details Section -->